In [2]:
import pandas as pd
from config import getClient
from checkMissing import checkMissing
import numpy as np

In [3]:
dataloc = getClient("OutFront")

In [4]:
df = pd.read_csv(dataloc+"1fillRateFilter.csv")

# Convert their date format to a standard date
df["date"] = pd.to_datetime(df["date"])

In [6]:
# Check each panel for missing dates
df = df.set_index("panel")
grp = df.groupby(level=0)

count = 0
for idx, val in grp:
    missing = checkMissing(val, "day")
    if len(missing) > 0:
        count += 1
        print("found one missing: {}".format(idx))
print("Number missing dates: {}".format(count))

Number missing dates: 0

In [7]:
# Check each panel for missing hours
df = df.reset_index()
df = df.set_index(["panel", "date"])
grp = df.groupby(level=[0,1])

count = 0
for idx, val in grp:
    missing = checkMissing(val, "hour")
    if len(missing) > 0:
        #print(idx, missing)
        #input()
        count += 1
        print("found one missing: {}".format(idx))
print("Number missing hours: {}".format(count))

Number missing hours: 0

##### Get a random panel and check before and after

In [ ]:
before = pd.read_csv(dataloc+"2a_dates.csv")

before = before.set_index("panel")

In [ ]:
before = before.loc[panel]
after  = df.loc[panel]

b = len(before["date"].unique())
a = len(after["date"].unique())
print("Panel had {} dates before and {} after".format(b,a))

b = before["date"].unique()
a = after["date"].unique()
missing = [x for x in a if x not in b]
print("{}Panel was missing dates: {}".format("\n",missing))

In [ ]:
def getMissing(grp):
    # Create list of panel/date with missing hours
    missingList = []
    for idx, val in grp:
        missing = val.loc[val["population"].isnull()]["hour"]
        if not missing.empty:
            missingList.append(idx)
    return missingList

In [ ]:
df  = df.set_index(["panel", "date"])
grp = df.groupby(level=[0,1])

missingList = getMissing(grp)

for x in missingList:
    panel = x[0]
    date  = x[1]
    tmp = df.loc[panel, date]["population"]
    clusters = tmp.isnull().astype(int).groupby(tmp.notnull().astype(int).cumsum()).sum()
    print(tmp)
    print(clusters)
    input()

In [5]:
df  = df.set_index(["panel", "date"])

In [7]:
after = pd.read_csv(dataloc+"2c_updatedHours.csv")

# Convert their date format to a standard date
after["date"] = pd.to_datetime(after["date"])
after  = after.set_index(["panel", "date"])

In [ ]:
df.loc["FF0000933", "2017-06-12"]

In [8]:
df.loc["DT0002409", "2017-11-28"]

                      hour  population
panel     date
DT0002409 2017-11-28     0          19
          2017-11-28     1          42
          2017-11-28     2          49
          2017-11-28     3          28
          2017-11-28     6          64
          2017-11-28     7         190
          2017-11-28     8         208
          2017-11-28     9         277
          2017-11-28    10         334
          2017-11-28    11         317
          2017-11-28    12         364
          2017-11-28    13         294
          2017-11-28    14         308
          2017-11-28    15         553
          2017-11-28    16         529
          2017-11-28    17         612
          2017-11-28    18         502
          2017-11-28    19         398
          2017-11-28    20         390
          2017-11-28    21         204
          2017-11-28    22         202
          2017-11-28    23         151

In [45]:
after.loc["DT0002409", "2017-11-28"]

                      hour  population
panel     date
DT0002409 2017-11-28     0        19.0
          2017-11-28     1        42.0
          2017-11-28     2        49.0
          2017-11-28     3        28.0
          2017-11-28     4        46.0
          2017-11-28     5        46.0
          2017-11-28     6        64.0
          2017-11-28     7       190.0
          2017-11-28     8       208.0
          2017-11-28     9       277.0
          2017-11-28    10       334.0
          2017-11-28    11       317.0
          2017-11-28    12       364.0
          2017-11-28    13       294.0
          2017-11-28    14       308.0
          2017-11-28    15       553.0
          2017-11-28    16       529.0
          2017-11-28    17       612.0
          2017-11-28    18       502.0
          2017-11-28    19       398.0
          2017-11-28    20       390.0
          2017-11-28    21       204.0
          2017-11-28    22       202.0
          2017-11-28    23       151.0

In [43]:
after.loc["DT0002409", "2017-06-08"]

                      hour  population
panel     date
DT0002409 2017-06-08     0        59.0
          2017-06-08     1        98.0
          2017-06-08     2        81.0
          2017-06-08     3        66.5
          2017-06-08     4        52.0
          2017-06-08     5        48.0
          2017-06-08     6       169.0
          2017-06-08     7       210.0
          2017-06-08     8       381.0
          2017-06-08     9       337.0
          2017-06-08    10       401.0
          2017-06-08    11       459.0
          2017-06-08    12       573.0
          2017-06-08    13       548.0
          2017-06-08    14       620.0
          2017-06-08    15       561.0
          2017-06-08    16       467.0
          2017-06-08    17       527.0
          2017-06-08    18       426.0
          2017-06-08    19       386.0
          2017-06-08    20       432.0
          2017-06-08    21       430.0
          2017-06-08    22       329.0
          2017-06-08    23       275.0